:root {
    --navbar-background-color:  #91918f;
    --text-color:rgb(231, 231, 231);
    --mane-text-color: #23150E;
    --text-color-hover:#ffffff;
    --mane-background-color:#ffffff;
    --footer-background-color:#91918f;
    --purchase-text-color:#9E1816;
    
}
/* purchase collor #9E1816 */
/* promo text collor #D9AB60 */
/* text collor #23150E */
/* background collor #FFF9EB */